header{
    background-color: #f6303e;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: 4px solid white;
    display: inline-block;
    border-radius: 50px;
    padding: 7px 14px 7px 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 27px;
}

body, ul, li, h1, h2{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner {
    position: relative;
    background-image: url("img/banner.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 93px;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    background-color: #feb614;
    color:#fff;
    position: absolute;
    padding: 30px 50px 30px 80px;
    top: 21%;
}

.banner h2{
    font-size: 54px;
}

.banner h2 span{
    font-size: 1.3em;
}

/* .viezesectie{
position: absolute;
} */

nav{
    background-color: #edeef0;
    padding: 24px;
    /* position: relative; */
    /* top: 100px; */
    /* z-index: 2; */
}

.main-nav{
    /* display: block; */
    position: sticky;
    top: 91px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    width: 25%;
    display: inline-block;
    text-align: center;
}

nav li a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 60px auto;
    padding: 0 50px;
    box-sizing: border-box;
}

article h2{
    color:#f6303e;
    font-size: 34px;
}

article p{
    line-height: 150%;
    color:#4b4b4b;
    margin: 20px 0;
}

.images{
    text-align: center;
    white-space: nowrap;
    padding: 20px 0;
}

.images li{
    max-width: 45%;
    display: inline-block;
}

.img-left{
    margin: 0 2% 0 0;
    /* border: 1px solid black; */
}
.img-right{
    margin: 0 0 0 2%;
}

.images li img{
    max-width: 100%;
    border-radius: 5px; 
}

.join{
    background-color: #faefdf;
    text-align: center;
    padding: 60px 20px;
    /* max-width: 1200px; */
}

.join h2{
    color:#f6303e;
    font-size: 34px;
}

.join p{
    /* max-width: 1200px; */
}

form input{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    text-align: center;
    width: 300px;
}

footer{
    background-color: #f6303e;
    padding: 2px;
    color:white;
    text-align: center;
    font-size: 12px;
}


nav li a:hover{
    /* border-bottom: 1px solid black; */
    padding-bottom: 4px;
    color: #f6303e;
    border-bottom: 1px solid #f6303e;
    /* position: absolute;
    bottom:1px; */
}

nav li:hover{
    position: relative;
    top:-2px;
}

article h2 span:hover{
    color:#f71111;
}

.images li:hover{
    position: relative;
    top:-4px;
    left:-2px;
    box-shadow: 9px 9px 35px -15px rgba(29,29,138,0.8);
}

form input:focus{
    border: 2px solid #e0cbab;
    outline: none;
}

form input:valid{
    border: 2px solid #a9e6a4;
    outline: none;
}

@media only screen and (max-width: 800px){

    .images{
        /* text-align: center;
        white-space: nowrap;
        padding: 20px 0; */
    }
    
    .images li{
        max-width: 100%;
        display: block;
    }
    
    .img-left{
        margin: 0 0 10px 0;
    }
    .img-right{
        margin: 0;
    }
}

@media only screen and (min-width: 1400px){

    .banner .welcome{
        left: 10%;
    }

}

@media only screen and (max-width: 600px){

    .banner .welcome{
        background-color: transparent;
        color:#fff;
        position: relative;
        padding: 30px 50px 30px 50px;
        top: 15%;
    }

    .banner {
        height: 300px;
        /* margin-top: 93px; */
    }

    .banner h2{
        color: white;
        text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
        }

    .banner h2 span{
        font-size: 1em;
    }

}